@import 'src/styles.scss';

:host ::ng-deep {
    .timeline {
        margin-bottom: 2rem;
    }
    .p-timeline .p-timeline-marker {
      background-color: red; // Change color of the marker
      border-radius: 50%; // Make the marker circular
      width: 20px; // Set width of the marker
      height: 20px; // Set height of the marker
      border: 2px solid blue; // Add a border around the marker
    }
  
    .p-timeline .p-timeline-marker.completed {
      background-color: green; // You can have different styles for different statuses
    }
  
    .p-timeline .p-timeline-marker.pending {
      background-color: orange;
    }
  }

.personal-form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    .form-container {
        display: flex;
        flex-direction: column;
        .form {
            select {
                font-size: 1rem;
                color: #495057;
                background: #ffffff;
                padding: 0.75rem 0.75rem;
                border: 1px solid #ced4da;
                border-radius: 6px;
                appearance: none;
                -webkit-appearance: none;
            }
            select:after {
                content: '\2304';
                font-size: 30px;
                line-height: 23px;
                padding-right: 2px;
            }
        }
        .input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            font-family: 'CeraProLight', Arial;
        }
        small {
            font-family: 'CeraProRegular', Arial;
            font-size: 11px;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
            opacity: 0;
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .btn {
            margin: 0 0.5rem;
            background: $primary;
            font-family: 'CeraProRegular', Arial;
        }
    }
}