@import 'src/styles.scss';

:host ::ng-deep .personal-form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 8rem;
    .form-container {
        display: flex;
        flex-direction: column;
        min-height: 370px;
        .form {
            .p-inputmask {
                width: 100%;
            }
            .p-element {
                border-radius: 0;
            
                &.ng-invalid.ng-touched {
                    border-color: $error;
                    color: $error;
                }
            
                &.ng-invalid.ng-touched + .label {
                    color: $error;
                }

                &.p-filled.ng-valid {
                    border-color: $success;
                }

                &.p-filled.ng-valid + .label {
                    color: $success;
                }

                &.p-inputwrapper.p-inputwrapper-filled.ng-valid {
                    color: $success;
                    .p-dropdown {
                        border-color: $success;
                    }
                }

                &.p-inputwrapper-filled.ng-valid {
                    input {
                        border-color: $success;
                    }
                }

                &.p-inputwrapper-filled.ng-valid + .label {
                    color: $success;
                }
            }
            
            select {
                font-size: 1rem;
                color: #495057;
                background: #ffffff;
                padding: 0.75rem 0.75rem;
                border: 1px solid #ced4da;
                border-radius: 6px;
                appearance: none;
                -webkit-appearance: none;
            }
            select:after {
                content: '\2304';
                font-size: 30px;
                line-height: 23px;
                padding-right: 2px;
            }
        }
        .p-dropdown {
            width: 100%;
            border-radius: 0;
        }
        .input {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.75rem;
            font-family: 'CeraProLight', Arial;
            .p-placeholder {
                opacity: 0;
            }
        }
        small {
            font-family: 'CeraProRegular', Arial;
            font-size: 11px;
            padding-left: 0.75rem;
            padding-top: 0.25rem;
            &.errors {
                color: $error;
            }
        }
    }
    .actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .btn {
            background: $primary;
            font-family: 'CeraProRegular', Arial;
            font-size: 12px;
            border-radius: 0;
        }
    }
}