@import 'src/styles.scss';

.unauthorized {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;

    .pi {
        font-size: 32px;
        color: $error;
    }

    p {
        font-family: 'CeraProRegular', Arial;
        color: $error;
    }
}