@import 'src/styles.scss';
.job-offer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $secondary;
    width: 100%;
    height: 75px;
    position: fixed;
    top:0;
    left:0;
    .header {
        color: $secondary;
        max-width: 760px;
        color: #fff;
    }
    h1 {
        color: #fff;
    }
}

.body-container {
    max-width: 750px;
    margin: 0 2rem;
}